* {padding: 0px;margin: 0px;border: none;}
*,
*::before,
*::after {box-sizing: border-box;}
a, a:link, a:visited  {text-decoration: none;}
a:hover  {text-decoration: none;}
aside, nav, footer, header, section, main {display: block;}
h1, h2, h3, h4, h5, h6, p {font-size: inherit;font-weight: inherit;}
ul, ul li {list-style: none;padding: 0;}
img {vertical-align: top;}
img, svg {max-width: 100%;height: auto;}
address {font-style: normal;}
input, textarea, button, select {font-family: inherit;font-size: inherit;color: inherit;background-color: transparent;}
input::-ms-clear {display: none;}
button, input[type="submit"] {display: inline-block;box-shadow: none;background-color: transparent;background: none;cursor: pointer;}
input:focus, input:active,
button:focus, button:active {outline: none;}
button::-moz-focus-inner {padding: 0;border: 0;}
label {cursor: pointer;}
legend {display: block;}

@font-face {
	font-family: 'TTLakes-medium'; 
	src: url(./src/fonts/TypeType\ -\ TTLakes-Medium.woff2); 
}
@font-face {
	font-family: 'TTLakes-black'; 
	src: url(./src/fonts/TypeType\ -\ TTLakesCompressed-Black.woff2.woff2); 
}
@font-face {
	font-family: 'TTLakes-bold'; 
	src: url(./src/fonts/TypeType\ -\ TTLakesCondensed-Bold.woff2); 
}
html,body{
  width: 100%;
  height: 100%;
}
body{
  background-color: #f8f8f8;
  font-family: TTLakes-medium;
}
.wrapper{
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 18px 16px;
  background-color: #fff;
  &__burger {
  }
  &__menu {
    position: relative;
    padding: 0 18px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
    &::after{
      content: '';
      position: absolute;
      right: 0;
      width: 2px;
      height: 30px;
      border-radius: 2px;
      background: #EAEAEA;
    }
  }
  &__logo {
  }
  &__list {
    display: none;
    gap: 16px;
  }
  &__actions {
    display: flex;
    gap: 16px;
  }
}
.button {
  display: flex;
  align-items: center;
  gap: 9px;
  transition: 0.3s all ease;
  &__wrapper {
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:focus{
    opacity: 0.8;
  }
  &:hover{
    opacity: 0.9;
  }
}
.title{
  margin-top: 24px;
  position: relative;
  display: flex;
  justify-content:space-between;
  padding: 0 16px;
  &__text{
    font-family: TTLakes-bold;
    font-weight: 700;
    color: #1b1c21;
    line-height: 40px;
    font-size: 28px;
  }
  &__actions{
    display: none;
  }
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: -4px;
    width: 8px;
    height: 40px;
    border-radius: 8px;
    background: #41F6D7;
  }
}
.navigation{
  margin-top: 24px;
  padding: 0 16px;
  &__list{
    display: flex;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
  &__item{
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s all ease;
    & p{
      white-space: nowrap;
      font-size: 16px;
      line-height: 24px;
      color: #7E7E82;
    }
    &--active{
      border: 2px solid #B8FFEC;
    }
    &:focus{
      opacity: 0.8;
    }
    &:hover{
      opacity: 0.9;
    }
  }
}
.article {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  &__info {
    padding: 0 16px;
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    overflow: hidden;
    max-height: 90px;
  }
  &__more {
    margin-top: 16px;
    display: flex;
    gap: 8px;
    align-items: center;
    transition: all .3s ease;
    &-icon{
      width:24px;
      height:24px;
      background: url(./src/icons/icon-more.svg) no-repeat 50% 50%;
    }
    &-text{
      font-size: 16px;
      line-height: 24px;
    }
    &:hover{
      opacity: .8;
    }
    &:focus{
      opacity: .8;
    }
  }
  &__banner {
    width: 100%;
    & img{
      width: 100%;
    }
  }
}
@media (min-width:768px) {
  .header{
    &__menu{
      margin-left: 20px;
      padding: 0 22px;
      &::before{
        content: '';
        position: absolute;
        left: 0;
        width: 2px;
        height: 30px;
        border-radius: 2px;
        background: #EAEAEA;
      }
    }
    &__list {
      display: flex;
    }
  }
  .navigation{
    margin-top: 32px;
    padding: 0 24px;
  }
  .article {
    margin-top: 32px;
    flex-direction: row;
    gap: 48px;
    padding: 0 24px;
    &__info{
      padding: 0;
    }
    &__text {
      max-height: 160px;
      line-height: 20px;
      gap: 20px;
    }
    &__banner {
      min-width: 50%;
      width: 50%;
      border-radius: 6px;
      overflow: hidden;
    }
  }
}
@media (min-width:1024px) {
  .header{
    overflow: hidden;
    height: 0;
    padding: 0;
    visibility: hidden;
  }
  .title{
    margin-top: 42px;
    &__actions{
      display: flex;
      gap: 16px;
    }
  }
  .navigation{
    margin-top: 8px;
    padding: 0;
    &__list{
      overflow-x: visible;
      flex-wrap: wrap;
    }
  }
  .article {
    margin-top: 8px;
    padding: 0;
  }
}